<div class="app-admin-root" [class.dark]="isDarkMode()">
  <app-dashboard-layout>
    <app-docente-sidebar
      sidebar
      [userName]="userDisplayName()"
      [userEmail]="userEmail()"
      [isDark]="isDarkMode()"
      (darkModeToggle)="toggleDarkMode()"
      (logout)="logout()"
    />

    <main class="admin-main-content flex-1 px-4 pt-8 pb-6 lg:px-8 lg:pt-10">
      @switch (docentePanelView()) {
        @case ('dashboard') {
          <app-docente-dashboard />
        }
        @case ('mis-cursos') {
          <app-mis-cursos />
        }
        @case ('estudiantes') {
          <app-estudiantes />
        }
        @case ('tareas') {
          <app-tareas />
        }
        @case ('mensajes') {
          <app-mensajes />
        }
        @case ('foros') {
          <app-foros />
        }
        @case ('foro-detalle') {
          <app-foro-detalle />
        }
      }
    </main>
  </app-dashboard-layout>
</div>
